{extend name="index_base" /}
{block name="seo"}
<title>用户首页|{$site_config['site_title']}|{$site_config['seo_title']}</title>
<meta name="keywords" content="{$site_config['seo_keyword']}">
<meta name="description" content="{$site_config['seo_description']}">
{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/css/userInfo.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/css/userInfo_1.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/css/communication_region.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/layui/css/layui.css" />
<!--分页-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/reset.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/highlight.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/common.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/pagination.css" media="screen">
<style>
    .user-content {
        height: 1000px;
    }
</style>
{/block}

{block name="body"}

<body>
    <div class="contentWrap">
        <div class="user-content">
            <p class="crumbs">
                <a href="#"><img src="__PUBLIC__forum/img/home/home.png" alt="home"></a> >
                <a href="#">个人中心</a>
            </p>

            <div class="user-index-left">
                <div class="user-index-info">
                    <img src="{$user_data['userhead']}" alt="头像">
                    <p>{$user_data['username']}</p>
                    <!--<div>-->
                        <!--<button>关注</button>-->
                        <!--<button>私信</button>-->
                    <!--</div>-->
                </div>

                <div class="user-statistics">
                    <p>统计信息</p>
                    <div>
                        <div>
                            <a href='{:url("index/user/my_article")}'>
                                <i></i>帖子：<span title="{$user_data.forum_count}">{$user_data.forum_count}</span>
                            </a>
                        </div>
                        <div>
                            <a href='{:url("index/user/my_collect")}'>
                                <i></i>收藏：<span title="{$collect_count}">{$collect_count}</span>
                            </a>
                        </div>
                        <div>
                            <a href='{:url("index/user/point_info")}'>
                                <i></i>积分：<span title="{$user_data.point}">{$user_data.point}</span>
                            </a>
                        </div>

                        <div>
                            <a href='{:url("index/user/money_info")}'>
                                <i></i>米币：<span title="{$user_data.money}">{$user_data.money}</span>
                            </a>
                        </div>

                        <div>
                            <a href='{:url("index/user/my_attention")}'>
                                <i></i>关注：<span>{$attention_count}</span>
                            </a>
                        </div>

                        <div>
                            <a href='{:url("index/user/my_fans")}'>
                                <i></i>粉丝：<span>{$fans_count}</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="user-index-right">
                <div class="user-index-card">
                    <div class="user-title">
                        <span>个人信息</span>
                        <span class="edit-user"><a href="{:url('edit')}">编辑个人信息 ></a></span>
                    </div>
                    <div class="user-info">
                        <p>
                            <span>个性签名</span> <span title="{$user_data['description']}">{$user_data['description']}</span>
                        </p>
                        <p>
                            <span>性别</span>
                            {switch name="$user_data['sex']"}
                            {case value="1"}<img class="gender" src="__PUBLIC__forum/img/userInfo/man.png" /><span>男</span>{/case}
                            {case value="2"}<img class="gender" src="__PUBLIC__forum/img/userInfo/female.png" /><span>女</span>{/case}
                            {default /}
                            保密
                            {/switch}
                        </p>
                        <p id="editData" class="my-info-area-info">
                            <span>地区</span>
                            <i></i>
                            <span class="my-info-area"></span>
                        </p>
                    </div>
                </div>
                <div class="user-index-fourm">
                    <div class="user-title">
                        <span>帖子</span>
                    </div>


                    {if condition="$forum_list"}
                    <div class="state-container">
                        {foreach $forum_list as $val}
                        <div class="state clearfix">
                            {if condition="$val.pic"}
                            <a href="{:url('index/forum/detail',['id'=>$val['id']])}" class="noteNotewrap" target="_blank">
                                <div>
                                    <img class="noteNote" src="{$val.pic}">
                                </div>
                            </a>
                            {/if}
                            <div class="stateRight">
                                <div class="stateItem2 clearfix">
                                    <p id="">
                                        {if condition="$val.settop"}<span class="stick">【置顶】</span>{/if}
                                        <a href="{:url('index/forum/detail',['id'=>$val['id']])}" target="_blank"><span class="contentName">{$val.title}</span>
                                            {if condition="$val.hot"}<img src="__PUBLIC__forum/img/userInfo/hot.png" />{/if}
                                            {if condition="$val.praise"}<img src="__PUBLIC__forum/img/userInfo/zan.png" />{/if}
                                            {if condition="$val.new"}<img src="__PUBLIC__forum/img/userInfo/new.png" />{/if}
                                            {if condition="$val.pic"}<img src="__PUBLIC__forum/img/communication_region/pic.png" />{/if}
                                        </a>
                                    </p>
                                </div>
                                <div class="stateItem3 clearfix">
                                    <p>{$val.description}</p>
                                </div>

                                <div class="stateItem4 clearfix">
                                    <span class="stateItem4Left"><img src="{$val.userhead}" alt="头像" />{$val.username}
                                        <span class="separator">|</span> {$val.create_time|date="Y/m/d H:i",###}</span>
                                    <div class="stateItem4Right">
                                        <span id="">
                                            <img src="__PUBLIC__forum/img/userInfo/view.png" />{$val.view}
                                        </span>
                                        <span id="">
                                            <img src="__PUBLIC__forum/img/userInfo/reply.png" />{$val.reply}
                                        </span>
                                        <span id="">
                                            <img src="__PUBLIC__forum/img/userInfo/zan_.png" />{$val.praise}
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>

                    <div class="paginationCon">
                        <div class="m-style M-box2">{$page}</div>
                    </div>

                    {else/}
                    <div class="no-post">
                        <div></div>
                        <p>暂时还没有帖子~</p>
                    </div>
                    {/if}

                </div>
            </div>

        </div>

    </div>
</body>
<script src="__PUBLIC__forum/js/jquery/1.9.1/jquery.min.js"></script>
<script src="__PUBLIC__forum/layui/layui.js"></script>
<!--分页-->
<script src="__PUBLIC__forum/pagination/highlight.min.js"></script>
<script src="__PUBLIC__forum/pagination/jquery.pagination.js"></script>
<!-- 地区 -->
<script src="__PUBLIC__forum/pickArea/data.js"></script>
<script src="__PUBLIC__forum/pickArea/province_1.js"></script>

<script type="text/javascript">

    var defaults = {
        s1: 'provid',
        s2: 'cityid',
        s3: 'areaid',
        v1: {$user_data.provid} ? {$user_data.provid} : 'null',
        v2: {$user_data.cityid} ? {$user_data.cityid} : 'null',
        v3: {$user_data.areaid} ? {$user_data.areaid} : 'null',
    };
    // $('.M-box2').pagination({
    //     totalData: 100,
    //     showData: 5,
    //     coping: true,
    //     homePage: '首页',
    //     prevContent: '上一页',
    //     nextContent:"下一页",
    //     endPage: '末页',
    //     keepShowPN:true,
    //     count:1
    // });


</script>
{/block}