{extend name="index_base" /}
{block name="body"}
<html>

<head>
  <meta charset="UTF-8">
  <title>一米社区-密码安全</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/css/userInfo_1.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/reset.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/highlight.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/common.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/pagination.css" media="screen">

  <style>
    .select-this >a >div{
      background-position:-279px -13px !important;
    }
  </style>
</head>

<body>
  <div class="contentWrap clearfix">


    <div class="user-content">
      <p class="crumbs">
        <a href="#"><img src="__PUBLIC__forum/img/home/home.png" alt="home"></a> >
        <a href="#">设置</a> > <a href="#">密码安全</a>
      </p>

      <div class="user-left">
        <div>
          <div class="">
            <a href="{:url('edit_head')}">
              <div></div>
              <p>修改头像</p>
            </a>
          </div>

          <div class="">
            <a href="{:url('edit')}">
              <div></div>
              <p>个人资料</p>
            </a>
          </div>

          <div class="">
            <a href="{:url('point_info')}">
              <div></div>
              <p>积分</p>
            </a>
          </div>

          <div class="">
            <a href="{:url('money_info')}">
              <div></div>
              <p>米币</p>
            </a>
          </div>
          <div class="">
            <a href="{:url('grade')}">
              <div></div>
              <p>用户组</p>
            </a>
          </div>
          <div class="select-this">
            <a href="javascript:void(0)">
              <div></div>
              <p>密码安全</p>
            </a>
          </div>
          <div class="">
            <a href="{:url('cooperation')}">
              <div></div>
              <p>商务合作</p>
            </a>
          </div>
        </div>
      </div>

      <div class="user-right">
          <form class="layui-form update-password"> 
            <div class="layui-form-item">
              <label class="layui-form-label">手机号</label>
              <div class="layui-input-inline">
                <input type="text" name="userPhone" placeholder="请输入手机号" autocomplete="off" class="layui-input phone" lay-verify="phone" value="{$user_data.mobile}" disabled>
              </div>
              <div class="layui-form-mid layui-word-aux">辅助文字辅助文字辅助文字</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" name="userCode" placeholder="请输入验证码" autocomplete="off" class="layui-input verCode" lay-verify="number" style="width: 200px;"/>
                </div>

                <!-- <button class="submitForm">获取验证码</button> -->
                <input class="submitForm" type="button" onclick="sendMessage($('.phone'),$('.verCode'),this,60)" value="获取验证码"></input>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="newPass" placeholder="请输入新密码" autocomplete="off" class="layui-input" lay-verify="pass">
                </div>
              </div>
              <p class="tip"><span>*</span>密码长度8~16位，数字、字母、字符至少包含两种</p>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="submitForm" lay-submit lay-filter="submitForm">保存</button>
              </div>
            </div>
          </form>
      </div>


      <!-- <div class="paginationCon">
          <div class="m-style M-box2"></div>   
      </div> -->
    </div>


  </div>
</body>

</html>

<script src="__PUBLIC__forum/layui/layui.js"></script>
<script src="__PUBLIC__forum/filter/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__forum/pagination/highlight.min.js"></script>
<script src="__PUBLIC__forum/pagination/jquery.pagination.js"></script>

<script type="text/javascript">
layui.use('form', function(){
  var form = layui.form;
  form.on('submit(submitForm)', function(data){
    // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
    // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
    // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
    // return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
      loading = layer.load(2, {
          shade: [0.2,'#000']
      });
      var param = data.field;
      $.post('{:url("user/setedit")}',param,function(data){
          if(data.code == 200){
              layer.close(loading);
              layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                  location.href = '{:url("index/index")}';
              });
          }else{
              layer.close(loading);
              layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
          }
      });
      return false;
  });
  form.verify({
    pass: [
      /([a-zA-Z0-9!@#$%^&*()_?<>{}]){8,16}/
      ,'密码长度8~16位，数字、字母、字符至少包含两种'
    ] 
  });   
});
  $(function () {
    $('.M-box2').pagination({
      totalData: 100,
      showData: 5,
      coping: true,
      homePage: '首页',
      prevContent: '上一页',
      nextContent: "下一页",
      endPage: '末页',
      keepShowPN: true,
      count: 1
    });
  })
</script>
<script>

</script>
{/block}