{extend name="index_base" /}
{block name="seo"}
    <title>我的消息|{$site_config['site_title']}|{$site_config['seo_title']}</title>
    <meta name="keywords" content="{$site_config['seo_keyword']}">
    <meta name="description" content="{$site_config['seo_description']}">
{/block}
{block name="css"}
    <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/css/userInfo.css"/>
    <!--分页-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/highlight.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__forum/pagination/pagination.css" media="screen">
{/block}
{block name="body"}
<body>
<div class="userInfoTop" >
    <div class="editCover">
        <!--<span id="">
            编辑封面照片
        </span>-->
    </div>
    <img src="__PUBLIC__forum/img/userInfo/userInfo.png" />
</div>

<div class="userInfoTop_ indexItem">
    <div class="headImg">
        <img src="{$user_data['userhead']}" style="width:123px;height:123px;border-radius: 50%;"/>
    </div>
    <div class="nameItem">
        <span class="userName">{$user_data['username']}</span>
        {switch name="$user_data['sex']"}
        {case value="1"}<img class="gender" src="__PUBLIC__forum/img/userInfo/man.png"/>{/case}
        {case value="2"}<img class="gender" src="__PUBLIC__forum/img/userInfo/female.png"/>{/case}
        {default /}
        {/switch}
        <span class="userPosition" style="">{$user_data['description']}</span>
        <p>
            <span class="userInfo">米币：</span><span class="userInfo">{$user_data['money']}</span>
            <span> | </span>
            <span class="userInfo" onclick="buyCredits()" style="cursor: pointer;">积分：</span><span class="userInfo">{$user_data['point']}</span>
            <span> | </span>
            <span class="userInfo">用户组：</span><span class="userInfo">{$user_data.grade_name}</span>
        </p>
    </div>
    <a href='{:url("user/set",["id"=>$userId])}'>
        <div class="editUserInfo" >
            编辑个人资料
        </div>
    </a>
</div>
<div class="userInfoBottom">
    <div class="userInfoBottomLeft indexItem">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <a href="{:url('index')}"><li>我的帖子<span style="margin-left: 5px;">{$forumCount}</span></li></a>
                <a href="{:url('reply')}"><li>我的回复<span style="margin-left: 5px;">{$commentCount}</span></li></a>
                <a href="{:url('message')}"><li class="layui-this">我的消息<span style="margin-left: 5px;">{$total}</span></li></a>
                <a href="{:url('point_record')}"><li>我的积分<span style="margin-left: 5px;"></span></li></a>
                <a href="{:url('money_record')}"><li>我的米币<span style="margin-left: 5px;"></span></li></a>
            </ul>
            <div class="layui-tab-content">
                
                <div class="layui-tab-item layui-show">
                    <div class="userInfoTitle">
                        我的消息
                    </div>
                    {notempty name="$messageList"}
                    {volist name="$messageList" id="val"}
                    <!-- type=2 帖子的评论 -->
                    <!--系统消息-->

                    {if condition="$val['type'] eq 2"}

                        <div class="sysMsg">
                            <div class="stateItem1">
                                {empty name="$val.is_read"}<span class="pointTip commTip"></span>{/empty}<span class="stateItem1Left">{$val.username} 回复了您的帖子 <a href="{:url('forum/detail',['id'=>$val['fid']])}"><span class="commentConAuthor" style="color: #0078fe">{$val.title}</span></a></span>
                                <span class="stateItem1Right">{$val.time|date="Y/m/d H:i:s",###}</span>
                            </div>
                        </div>

                    {elseif condition="$val['type'] eq 3" /}

                        <div class="sysMsg">
                            <div class="stateItem1">
                                {empty name="$val.is_read"}<span class="pointTip commTip"></span>{/empty}<span class="stateItem1Left">{$val.username} 回复了您的帖子 <a href="{:url('forum/detail',['id'=>$val['fid']])}"><span class="commentConAuthor" style="color: #0078fe">{$val.title}</span></a> 中你的评论 </span>
                                <span class="stateItem1Right">{$val.time|date="Y/m/d H:i:s",###}</span>
                            </div>
                        </div>

                    {else /}

                        <div class="sysMsg">
                            <div class="stateItem1">
                                {empty name="$val.is_read"}<span class="pointTip commTip"></span>{/empty}<span class="stateItem1Left">系统消息：</span>
                                <span class="stateItem1Right">{$val.time|date="Y/m/d H:i:s",###}</span>
                            </div>
                        </div>

                    {/if}

                    {/volist}

                    {else /}
                        <div class="no-message">暂时没有最新消息</div>
                    {/notempty}
                    <div class="paginationCon" style="margin-top:40px">
                        <div class="m-style">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="userInfoBottomRight indexItem">
        <div class="title_">
            我关注的
        </div>
        <div class="followTop">
            <div class="followTopLeft">
                关注了
                <p>0</p>
            </div>
            <span  style="height: 60px;border-right: 1px dashed #d8d8d8;float: left;margin-top: 15px;"></span>

            <div class="followTopRight">
                关注者
                <p>0</p>
            </div>
        </div>
        <div class="followBot">
            <ul>
                <li>关注的话题 <span>15</span></li>
                <li>关注的专栏 <span>15</span></li>
                <li>关注的问题 <span>15</span></li>
                <li>关注的收藏夹 <span>15</span></li>
            </ul>
        </div>
        <p>个人主页被浏览了<span>{$user_data['view']}</span>次</p>
    </div> -->

</div>
<div class="buyCredits" style="display: none;">

    <div class="buyCreditsPro">
        <img src="__PUBLIC__forum/img/userInfo/buyCredits.png"/>
        <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
            <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
        </div>

        <p class="level">
            <span>当前等级：</span><span class="levelText">{$user_data['grade_name']}</span>
            <span>积分：</span><span class="levelText">{$user_data["point"]}</span>
        </p>
        <div class="levelInfo">
            是否支付<span>89</span>米币升级至<span class="">2</span>级
        </div>
    </div>
    <div class="">
    </div>

    <div class="site-demo-button" style="margin-top: 20px; margin-bottom: 0;">
        <button class="layui-btn site-demo-active" data-type="setPercent">设置50%</button>
        <button class="layui-btn site-demo-active" data-type="loading">模拟loading</button>
    </div>

</div>
</body>
</html>
<script src="__PUBLIC__forum/js/jquery/1.9.1/jquery.min.js"></script>
<script src="__PUBLIC__forum/layui/layui.js"></script>
<!--分页-->
<script src="__PUBLIC__forum/pagination/highlight.min.js"></script>
<script src="__PUBLIC__forum/pagination/jquery.pagination.js"></script>
<script type="text/javascript">

    // $('.M-box2').pagination({
    //     totalData: 100,
    //     showData: 5,
    //     coping: true,
    //     homePage: '首页',
    //     prevContent: '上一页',
    //     nextContent:"下一页",
    //     endPage: '末页',
    //     keepShowPN:true,
    //     count:1
    // });
    var layer;
    layui.use(['layer'], function(){
        var $ = layui.jquery;

        layer = layui.layer;



    });
    function buyCredits(){
        layer.open({
            type:1,
            skin:'buyCredits',
            content:$('.buyCredits'),
            title:'{$user_data["username"]}  |  我的米币：{$user_data["money"]}',
            area: ['770px', '440px'],
            resize:false,
            cancel: function(index, layero){
                $(".buyCredits").hide()
            }

        })
    }
</script>
{/block}

