/* made by  雪碧图制作专家v1.0 */
.icon
{
 display:block;
 background:url(../images/tabs-img.png) no-repeat;
}
.icon-01{
 width:18px;
 height:18px;
 background-position:-35px -13px;
}
.icon-01-1{
 width:18px;
 height:18px;
 background-position:-58px -13px;
}
.icon-02{
 width:18px;
 height:12px;
 background-position:-81px -13px;
}
.icon-02-1{
 width:18px;
 height:12px;
 background-position:-104px -13px;
}
.icon-03{
 width:14px;
 height:18px;
 background-position:-127px -13px;
}
.icon-03-1{
 width:14px;
 height:18px;
 background-position:-150px -13px;
}
.icon-04{
 width:14px;
 height:15px;
 background-position:-173px -13px;
}
.icon-04-1{
 width:14px;
 height:15px;
 background-position:-196px -13px;
}
.icon-05{
 width:20px;
 height:16px;
 background-position:-219px -13px;
}
.icon-05-1{
 width:20px;
 height:16px;
 background-position:-242px -13px;
}
.icon-06{
 width:13px;
 height:18px;
 background-position:-279px -13px;
}
.icon-06-1{
 width:13px;
 height:18px;
 background-position:-302px -13px;
}
.icon-07{
 width:17px;
 height:15px;
 background-position:-325px -13px;
}
.icon-07-1{
 width:17px;
 height:15px;
 background-position:-348px -13px;
}
.icon-icon_ew_d{
 width:18px;
 height:20px;
 background-position:-34px -37px;
}
.icon-icon_ew_s{
 width:17px;
 height:20px;
 background-position:-57px -37px;
}
.icon-icon_jc_d{
 width:18px;
 height:20px;
 background-position:-80px -37px;
}
.icon-icon_jc_s{
 width:19px;
 height:21px;
 background-position:-103px -37px;
}
.icon-icon_mr_d{
 width:18px;
 height:20px;
 background-position:-126px -37px;
}
.icon-icon_mr_s{
 width:18px;
 height:20px;
 background-position:-149px -37px;
}
.icon-tiezi01{
 width:20px;
 height:17px;
 background-position:-33px -71px;
}
.icon-tiezi01-1{
 width:20px;
 height:17px;
 background-position:-58px -71px;
}
.icon-tiezi02{
 width:17px;
 height:17px;
 background-position:-83px -71px;
}
.icon-tiezi02-1{
 width:17px;
 height:17px;
 background-position:-108px -71px;
}
.icon-tiezi03{
 width:17px;
 height:15px;
 background-position:-133px -71px;
}
.icon-tiezi03-1{
 width:17px;
 height:15px;
 background-position:-158px -71px;
}
.icon-tiezi04{
 width:18px;
 height:16px;
 background-position:-183px -71px;
}
.icon----{
 width:18px;
 height:16px;
 background-position:-208px -71px;
}
.icon-huifu01{
 width:14px;
 height:18px;
 background-position:-34px -106px;
}
.icon-huifu01-1{
 width:14px;
 height:18px;
 background-position:-53px -106px;
}
.icon-huifu02{
 width:18px;
 height:15px;
 background-position:-72px -106px;
}
.icon-huifu02-1{
 width:18px;
 height:15px;
 background-position:-91px -106px;
}
.icon-huifu03{
 width:18px;
 height:16px;
 background-position:-110px -106px;
}
.icon-huifu03-1{
 width:18px;
 height:16px;
 background-position:-129px -106px;
}
.icon-huifu04{
 width:17px;
 height:18px;
 background-position:-148px -106px;
}
.icon-huifu04-1{
 width:17px;
 height:18px;
 background-position:-167px -106px;
}
.icon-msg01-1{
 width:18px;
 height:12px;
 background-position:-33px -136px;
}
.icon-msg1{
 width:18px;
 height:12px;
 background-position:-56px -136px;
}
.icon-msg02{
 width:16px;
 height:18px;
 background-position:-79px -136px;
}
.icon-msg02-1{
 width:16px;
 height:18px;
 background-position:-102px -136px;
}
.icon-msg03{
 width:19px;
 height:13px;
 background-position:-125px -136px;
}
.icon-msg03-1{
 width:19px;
 height:13px;
 background-position:-148px -136px;
}
