@charset "UTF-8";
.m-style {
    position: relative;
    text-align: center;
    zoom: 1;
}

.m-style:before,
.m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

.m-style span {
    float: left;
    margin: 0 5px;
    width: 26px;
    height: 26px;
    line-height: 17px;
    color: #bdbdbd;
    font-size: 14px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    background: #fff;
}

.m-style .active {
    float: left;
    margin: 0 5px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background: #ff4a50;
    border: none;
    /*background-image: linear-gradient(0deg, #1968e9 0%, #1bcdfd 100%), linear-gradient( #ffffff, #ffffff);*/
}

.m-style a {
   float: left;
    margin: 0 5px;
    min-width: 26px;
    height: 26px;
    line-height: 25px;
    background: #fff;
    border: 1px solid #b9b9b9;
    color: #bdbdbd;
    font-size: 14px;
    border-radius: 4px;
    color: #333333;
    padding: 0px 5px;
}

.m-style a:hover {
    color: #fff !important;
    background: #ff4a50;
}

.m-style .next,
.m-style .prev {
    font-size: 14px;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

.M-box2 input {
    float: left;
    width: 38px;
    height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    /*color: #bdbdbd;*/
    font-size: 14px;
}
