{extend name="base" /}
{block name="body"}

<!--tab标签-->
<div class="layui-tab-brief">
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form form-container" method="post" action="{:url('advertising/save')}" enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-inline">
                        <input type="number" name="sort" placeholder="仅限整数" required  lay-verify="required" autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">广告图片</label>
                    <div class="layui-input-block">
                        <input type="file" name="file" class="file" style="margin-top:10px;" required  lay-verify="required" />
                        <span style="color:#666">建议尺寸292*171，支持jpg、png、gif，最大不能超过50KB</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="link" autocomplete="off" class="layui-input" required  lay-verify="required" />
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">广告描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="dec" placeholder="例如:贷款超市大全" class="layui-input"  />
                    </div>
                </div>
                <div class="btable-paged" >
                    <div class="layui-main">
                        <div class="formbtngroup">
                            <input type="submit" class="layui-btn layui-btn-small" lay-submit="" lay-filter="formadd" value="添加">
                            <button onclick="history.go(-1);" class="layui-btn layui-btn-primary layui-btn-small">返回</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/delelement.js"></script>
{/block}
