{extend name="base" /}
{block name="body"}
<div class="admin-main">
    <!--tab标签-->
    <div class="layui-field-box layui-form">
        <a href="{:url('admin/nav/add')}" class="layui-btn layui-btn-small" id="add"><i class="layui-icon">&#xe608;</i> 添加一级导航</a>
        <table class="layui-table admin-table">
            <thead>
                <tr>
                    <th style="width: 30px;text-align: center">ID</th>
                    <th style="width: 30px;text-align: center">排序</th>
                    <th style="text-align: center">导航名称</th>
                    <th style="text-align: center">位置</th>
                    <th style="text-align: center">所属导航</th>
                    <th style="text-align: center">状态</th>
                    <th style="text-align: center">操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach name="nav" id="val"}
                    <tr>
                        <td style="text-align: center">{$val.id}</td>
                        <td style="text-align: center">{$val.sort}</td>
                        <td style="text-align: left">| {$val.name}</td>
                        <td style="text-align: center">{php}echo $val['pid']==1 ? '顶部' : '底部';{/php}</td>
                        <td style="text-align: center">{$new_nav[$val['id']]['name'] ? $new_nav[$val['id']]['name'] : '顶级导航'}</td>
                        <td style="text-align: center">
                            <input type="checkbox" name="status" lay-skin="switch" lay-text="显示|隐藏" lay-filter="switchTest"  value="{$val['id']}" {php}echo $val['status']==1 ? 'checked' : '';{/php}>
                        </td>
                        <td style="text-align: center">
                            <a href="javascript:;" data-id="{$val.id}" data-url="{:url('admin/nav/delete',array('id'=>$val['id']))}" data-opt="del"  class="elementdel layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                            {if condition="$val['nav_id']==0"}
                                <a href="{:url('nav/edit',['id'=>$val['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                                <a href='{:url("nav/second_add",["id"=>$val["id"]])}' class="layui-btn layui-btn-mini">添加导航</a>
                            {else /}
                                <a href="{:url('nav/second_edit',['id'=>$val['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/delelement.js"></script>
{/block}
{block name="script"}
<script>
    //导航是否显示
layui.use(['form'],function(){
  var form = layui.form()
  ,jq = layui.jquery;

 //jq('.btable-paged').eq(1).hide();
 var status=0;
 form.on('switch(switchTest)', function(data){
	  loading = layer.load(2, {
	      shade: [0.2,'#000']
	    });
	    if(data.elem.checked){
	    	status=1;
	    }else{
	    	status=0;
	    }
	    var url="{:url('admin/nav/updatestatus')}?id="+data.value+'&status='+status ;
	   
	    
	    jq.get(url,function(data){
	    	
	      if(data.code == 200){
	        layer.close(loading);
	        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
	        //  location.reload();
	        });
	      }else{
	        layer.close(loading);
	        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
	      }
	    });
	    return false;
	  });

})
</script>

{/block}